[submodule "src/ros2/rclcpp"]
	path = src/ros2/rclcpp
	url = https://github.com/ros2/rclcpp.git
[submodule "src/ros_tooling/libstatistics_collector"]
	path = src/ros_tooling/libstatistics_collector
	url = https://github.com/ros-tooling/libstatistics_collector.git
[submodule "src/ros2/rcl"]
	path = src/ros2/rcl
	url = https://github.com/ros2/rcl.git
	branch = galactic
[submodule "src/ros2/rcpputils"]
	path = src/ros2/rcpputils
	url = https://github.com/ros2/rcpputils.git
	branch = galactic
[submodule "src/ros2/rcutils"]
	path = src/ros2/rcutils
	url = https://github.com/ros2/rcutils.git
	branch = galactic
[submodule "src/ros2/rmw"]
	path = src/ros2/rmw
	url = https://github.com/ros2/rmw.git
	branch = galactic
[submodule "src/ros2/rmw_cyclonedds"]
	path = src/ros2/rmw_cyclonedds
	url = https://github.com/ros2/rmw_cyclonedds.git
	branch = galactic
[submodule "src/ros2/common_interfaces"]
	path = src/ros2/common_interfaces
	url = https://github.com/ros2/common_interfaces.git
	branch = galactic
[submodule "src/ros2_tracing/ros2_tracing"]
	path = src/ros2_tracing/ros2_tracing
	url = https://gitlab.com/ros-tracing/ros2_tracing.git
	branch = galactic
[submodule "src/rosidl"]
	path = src/rosidl
	url = https://github.com/ros2/rosidl.git
	branch = galactic
[submodule "src/ros2/rosidl"]
	path = src/ros2/rosidl
	url = https://github.com/ros2/rosidl.git
	branch = galactic
[submodule "src/ros2/rcl_interfaces"]
	path = src/ros2/rcl_interfaces
	url = https://github.com/ros2/rcl_interfaces.git
	branch = galactic
[submodule "src/ros2/rcl_logging"]
	path = src/ros2/rcl_logging
	url = https://github.com/ros2/rcl_logging.git
	branch = galactic
[submodule "src/ros2/spdlog_vendor"]
	path = src/ros2/spdlog_vendor
	url = https://github.com/ros2/spdlog_vendor.git
	branch = galactic
[submodule "src/eclipse-cyclonedds/cyclonedds"]
	path = src/eclipse-cyclonedds/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
	branch = releases/0.8.x
[submodule "src/eclipse-iceoryx/iceoryx"]
	path = src/eclipse-iceoryx/iceoryx
	url = https://github.com/eclipse-iceoryx/iceoryx.git
	branch = release_1.0
[submodule "src/ros2/performance_test_fixture"]
	path = src/ros2/performance_test_fixture
	url = https://github.com/ros2/performance_test_fixture.git
	branch = main
[submodule "src/ament/google_benchmark_vendor"]
	path = src/ament/google_benchmark_vendor
	url = https://github.com/ament/google_benchmark_vendor.git
	branch = main
[submodule "src/osrf/osrf_testing_tools_cpp"]
	path = src/osrf/osrf_testing_tools_cpp
	url = https://github.com/osrf/osrf_testing_tools_cpp.git
	branch = master
[submodule "src/ament/ament_cmake"]
	path = src/ament/ament_cmake
	url = https://github.com/ament/ament_cmake.git
	branch = galactic
[submodule "src/ament/ament_package"]
	path = src/ament/ament_package
	url = https://github.com/ament/ament_package.git
	branch = galactic
[submodule "src/ament/ament_lint"]
	path = src/ament/ament_lint
	url = https://github.com/ament/ament_lint.git
	branch = galactic
[submodule "src/ament/ament_index"]
	path = src/ament/ament_index
	url = https://github.com/ament/ament_index.git
	branch = galactic
[submodule "src/ros2/rosidl_defaults"]
	path = src/ros2/rosidl_defaults
	url = https://github.com/ros2/rosidl_defaults.git
	branch = galactic
[submodule "src/ros2/ament_cmake_ros"]
	path = src/ros2/ament_cmake_ros
	url = https://github.com/ros2/ament_cmake_ros.git
	branch = galactic
[submodule "src/ros2/yaml_cpp_vendor"]
	path = src/ros2/yaml_cpp_vendor
	url = https://github.com/ros2/yaml_cpp_vendor.git
	branch = galactic
[submodule "src/ros2/libyaml_vendor"]
	path = src/ros2/libyaml_vendor
	url = https://github.com/ros2/libyaml_vendor.git
	branch = galactic
[submodule "src/ros2/unique_identifier_msgs"]
	path = src/ros2/unique_identifier_msgs
	url = https://github.com/ros2/unique_identifier_msgs.git
	branch = galactic
[submodule "src/ros2/test_interface_files"]
	path = src/ros2/test_interface_files
	url = https://github.com/ros2/test_interface_files.git
	branch = galactic
[submodule "src/ros2/rmw_implementation"]
	path = src/ros2/rmw_implementation
	url = https://github.com/ros2/rmw_implementation.git
	branch = galactic
[submodule "cyclone_host/cyclonedds"]
	path = cyclone_host/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
[submodule "src/ros2/tinyxml2_vendor"]
	path = src/ros2/tinyxml2_vendor
	url = https://github.com/ros2/tinyxml2_vendor.git
	branch = galactic
[submodule "src/eprosima/Fast-DDS"]
	path = src/eprosima/Fast-DDS
	url = https://github.com/eProsima/Fast-DDS.git
[submodule "src/eprosima/Fast-CDR"]
	path = src/eprosima/Fast-CDR
	url = https://github.com/eProsima/Fast-CDR.git
[submodule "src/eprosima/foonathan_memory_vendor"]
	path = src/eprosima/foonathan_memory_vendor
	url = https://github.com/eProsima/foonathan_memory_vendor.git
[submodule "src/ros2/rmw_fastrtps"]
	path = src/ros2/rmw_fastrtps
	url = https://github.com/ros2/rmw_fastrtps.git
	branch = galactic
[submodule "tinyxml2_target/tinyxml2"]
	path = tinyxml2_target/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "src/ros2/rmw_dds_common"]
	path = src/ros2/rmw_dds_common
	url = https://github.com/ros2/rmw_dds_common.git
	branch = galactic
[submodule "src/ros2/rosidl_typesupport_fastrtps"]
	path = src/ros2/rosidl_typesupport_fastrtps
	url = https://github.com/ros2/rosidl_typesupport_fastrtps.git
	branch = galactic
[submodule "src/ros2/rosidl_typesupport"]
	path = src/ros2/rosidl_typesupport
	url = https://github.com/ros2/rosidl_typesupport.git
	branch = galactic
[submodule "src/ros/class_loader"]
	path = src/ros/class_loader
	url = https://github.com/ros/class_loader.git
	branch = galactic
[submodule "src/ros2/console_bridge_vendor"]
	path = src/ros2/console_bridge_vendor
	url = https://github.com/ros2/console_bridge_vendor.git
	branch = galactic
